
.theme-dark {
   background-color: #202024;
}
.theme-dark header {
   background-color: #121214;
}
.theme-dark .card {
   background-color: #1c1c1c;
   color: #f0f0f5;
}

.theme-dark .card.total {
   background-color: #016e32;
   color: #efefef;
}

.theme-dark .card.total-expense {
   background-color: #E92929;
}

.theme-dark thead, 
.theme-dark .description,
.theme-dark .date {
   color: white;
}

.theme-dark #transaction #data-table thead th {
   background-color: #1c1c1c;
}

.theme-dark #transaction #data-table tbody td {
   background-color: #1c1c1c;
}

.theme-dark #form h2 {
   color: #ffffff;
}
.theme-dark #form form input {
   color: #f0f0f5;
   background-color: #1c1c1c;
}

.theme-dark #form .input-group small {
   color: #f0f0f5;
}

.theme-dark footer {
   color: #f0f0f5;
}

.theme-dark .modal-overlay .modal {
   background-color: #202024;
}
